<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Uploads || pkmanas</title>
 
    <!-- CSS file -->
    <link rel="stylesheet" href="style.css">
</head>
 
<body>
    <form action="/profile" method="post" enctype="multipart/form-data">
        <input type="file" name="profileImage" id="profileImage">
        <button type="submit">Upload</button>
    </form>
</body>
 
</html>