<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>Add New Blog Page || Blogify-pkmanas</title>
</head>

<body>
    <%- include('./partials/navbar') %> <!--  nav bar -->

        <div class="container mt-4">
            <form action="/blog/add-blog" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="coverImage" class="form-label">Cover Image</label>
                    <input type="file" class="form-control" aria-label="coverImage" name="coverImage" id="coverImage">
                </div>
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" aria-label="title" placeholder="Title" name="title" id="title">
                </div>
                <div class="mb-3">
                    <label for="body" class="form-label">Body</label>
                    <textarea class="form-control" aria-label="body" placeholder="Add Your comments" name="body" id="body"></textarea>
                </div>
                <div class="input-group">
                    <button class="btn btn-primary" type="submit">Add Blog</button>
                </div>
            </form>
        </div>

        <%- include("./partials/script") %>
</body>

</html>