<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Home Page || Blogify-pkmanas</title>
</head>
<body>
    <%- include('./partials/navbar') %>  <!--  nav bar -->

    <%- include("./partials/script") %>
</body>
</html>