<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>Signin || Blogify-pkmanas</title>
</head>

<body>
    <%- include('./partials/navbar') %> <!--  nav bar -->

    <div class="container mt-4">
        <form action="/user/Signin" method="post">
            <div class="m-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" aria-describedby="email" name="email">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="m-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
    
            <button type="submit" class="btn m-3 btn-primary">Signin</button>
        </form>
    </div>

    <%- include("./partials/script") %>
</body>

</html>